@media (max-width: 399px)
{
    .search-type-container
    {
        flex-direction: column;
        align-items: center;
    }

    .container-radio-search
    {
        margin-bottom: 10px;
        width: 80%;
    }

    html
    {
        font-size: 3.3vw;
    }

    .content-search
    {
        flex-direction: column;
        align-items: center;
    }
    
    .filter
    {
        width: 90%;
    }

    .container-table{
        width: 95%;
    }
}

@media (min-width: 400px) and (max-width: 499px)
{
    .search-type-container
    {
        flex-direction: column;
        align-items: center;
    }

    .container-radio-search
    {
        margin-bottom: 10px;
        width: 70%;
    }

    html
    {
        font-size: 2.9vw;
    }

    .content-search
    {
        flex-direction: column;
        align-items: center;
    }
    
    .filter
    {
        width: 80%;
    }
    .container-table{
        width: 95%;
    }
}

@media (min-width: 500px) and (max-width: 569px)
{
    .search-type-container
    {
        flex-direction: column;
        align-items: center;
    }

    .container-radio-search
    {
        margin-bottom: 10px;
        width: 60%;
    }

    html
    {
        font-size: 2.5vw;
    }

    .content-search
    {
        flex-direction: column;
        align-items: center;
    }
    
    .filter
    {
        width: 70%;
    }

    .container-table{
        width: 95%;
    }
}

@media (min-width: 570px) and (max-width: 699px) 
{
    .search-type-container
    {
        flex-direction: column;
        align-items: center;
    }

    .container-radio-search
    {
        margin-bottom: 10px;
        width: 60%;
    }

    html
    {
        font-size: 2.2vw;
    }

    .content-search
    {
        flex-direction: column;
        align-items: center;
    }
    
    .filter
    {
        width: 80%;
    }

    .container-table{
        width: 95%;
    }
}

@media (min-width: 700px) and (max-width: 800px)
{

    .search-type-container
    {
        flex-direction: column;
        align-items: center;
    }

    .container-radio-search
    {
        margin-bottom: 10px;
        width: 60%;
    }

    .content-search
    {
        flex-direction: column;
        align-items: center;
    }
    
    .filter
    {
        width: 70%;
    }

   html
   {
       font-size: 1.5vw;
   }

   h2
   {
       font-size: 2rem;
   }

   p{
       font-size: 1.4rem;
   }


    .container-table{
        width: 95%;
    }
}