@media (max-width: 399px){
    html
    {
        font-size: 3vw;
    }

    .container-leaders
    {
        grid-template-columns: repeat(1, 1fr);
    }

    .leader{
        width: 98%;
    }

    .line-categoria{
        width: 100%;
    }
    .content-leader{
        width: 100%;
        font-size: 1.7rem;
    }

    .options{
        display: none;
    }

    .three-lines
    {
        display: flex;
    }
    .options-mobile
    {
        display: flex;
    }

    .three-lines
    {
        width: 14vw;
        height: 9vw;
    }
}

@media (min-width: 400px) and (max-width: 499px)
{
    html
    {
        font-size: 2.5vw;
    }

    .container-leaders
    {
        grid-template-columns: repeat(1, 1fr);
    }

    .leader{
        width: 90%;
    }

    .content-leader{
        font-size: 1.7rem;
    }

    .options{
        display: none;
    }

    .three-lines
    {
        display: flex;
    }
    .options-mobile
    {
        display: flex;
    }

    .three-lines
    {
        width: 10vw;
        height: 7vw;
    }
}

@media (min-width: 500px) and (max-width: 699px) {
    html
    {
        font-size: 2vw;
    }

    .container-leaders
    {
        grid-template-columns: repeat(1, 1fr);
    }

    .leader{
        width: 70%;
    }

    .options{
        display: none;
    }

    .three-lines
    {
        display: flex;
    }

    .options-mobile
    {
        display: flex;
        width: 40%;
        left: 100%;
    }

    .options-mobile-on
    {
        left: 60%;
    }

    .three-lines
{
    width: 9vw;
    height: 6vw;
}
}

@media (min-width: 700px) and (max-width: 900px) {

    html
    {
        font-size: 1.5vw;
    }

    .container-leaders
    {
        grid-template-columns: repeat(2, 1fr);
    }

    .options{
        display: none;
    }

    .three-lines
    {
        display: flex;
    }
    .options-mobile
    {
        display: flex;
        width: 30%;
        left: 100%;
    }

    .options-mobile-on
    {
        left: 70%;
    }
}

@media (min-width: 901px) and (max-width: 1100px){
    html
    {
        font-size: 1.2vw;
    }

    .container-leaders
    {
        grid-template-columns: repeat(2, 1fr);
    }
    .options-mobile
    {
        display: none;
    }
}

