
.leaders-presentation
{
    margin: 20px;
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
}

.container-leaders
{
    width: 100%;
    height: 300px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
   height: max-content;
    align-content: space-between;
}

.leader{
    width: 90%;
    margin: 0;
    margin: 0 auto;
    margin-bottom: 40px;
}

.categoria
{
    margin: 0;
    color: orange;
    font-size: 2.2rem;
    margin-left: 15%;
    margin-top: 10px;
}

.line-categoria{
    background: orange;
    height: 3px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.content-leader
{
    width: 90%;
    margin: 0 auto;
    display: flex;
    font-size: 1.5rem;
}

.no-leader
{
    font-weight: 500;
    width: 10%;
    margin-left: 2%;
    display: flex;
    align-items: center;
    justify-content: left;
}

.name-leader{
    font-weight: 500;
    width: 75%;
    
}

.cant-leader{
    font-weight: 500;
    width: 15%;
    display: flex;
    align-items: center;
}



.end-content-leader{
    margin-top: 0.5%;
}

.end-leader{
    margin-top: 1%;
}

.footer{
    width: 100%;
    height: 8vh;
    min-height: 30px;
    background-image: linear-gradient( 135deg, #65FDF0 10%, #1D6FA3 100%);
    display: flex;
    align-items: center;
}

.line-footer
{
    width: 100%;
    height: 2px;
    background: black;
}

.content-footer{
    font-size: 1.2rem;
    width: fit-content;
    
    margin: auto;
    color: white;
}